body{margin: 100px;}
.bankTitle{text-align: center;}

.submit-area{
            margin-top: 50px;
            border-radius: 10px;
           box-shadow: 5px 5px 20px rebeccapurple;
           padding: 40px;

}
#transaction {
    display: none;
    
}
.Deposite{background-color: lightskyblue;}
.withrow{background-color: lightsalmon;}
.Balance{background-color: yellow;}

.margin{margin: 0 10px;
        color: white;
        padding: 20px;
        border-radius: 10px;}